<ul class="marketing-links-list">
{% if site.amoutme_link%}<li><a title="About.me" aria-label="About.me" href="{{ site.amoutme_link }}"><span class="link-name">About.me</span></a></li>{% endif %}
{% if site.issuucom_link%}<li><a title="Issuu" aria-label="Issuu" href="{{ site.issuucom_link }}"><span class="link-name">Issuu</span></a></li>{% endif %}
{% if site.theverge_link%}<li><a title="Theverge" aria-label="Theverge" href="{{ site.theverge_link }}"><span class="link-name">Theverge</span></a></li>{% endif %}
{% if site.livejournal_link%}<li><a title="Livejournal" aria-label="Livejournal" href="{{ site.livejournal_link }}"><span class="link-name">Livejournal</span></a></li>{% endif %}
{% if site.thinglink_link%}<li><a title="Thinglink" aria-label="Thinglink" href="{{ site.thinglink_link }}"><span class="link-name">Thinglink</span></a></li>{% endif %}
{% if site.goodreads_link%}<li><a title="Goodreads" aria-label="Goodreads" href="{{ site.goodreads_link }}"><span class="link-name">Goodreads</span></a></li>{% endif %}
{% if site.lastfm_link%}<li><a title="Last.fm" aria-label="Last.fm" href="{{ site.lastfm_link }}"><span class="link-name">Last.fm</span></a></li>{% endif %}
{% if site.github_link%}<li><a title="Github" aria-label="Github" href="{{ site.github_link }}"><span class="link-name">Github</span></a></li>{% endif %}
{% if site.calameo_link%}<li><a title="Calameo" aria-label="Calameo" href="{{ site.calameo_link }}"><span class="link-name">Calameo</span></a></li>{% endif %}
{% if site.fancy_link%}<li><a title="Fancy" aria-label="Fancy" href="{{ site.fancy_link }}"><span class="link-name">Fancy</span></a></li>{% endif %}
{% if site.hiivecouk_link%}<li><a title="App.hiive.co.uk" aria-label="App.hiive.co.uk" href="{{ site.hiivecouk_link }}"><span class="link-name">App.hiive.co.uk</span></a></li>{% endif %}
{% if site.itsmyurl_link%}<li><a title="itsmyurls" aria-label="itsmyurls" href="{{ site.itsmyurl_link }}"><span class="link-name">Itsmyurls</span></a></li>{% endif %}
{% if site.8tracks_link%}<li><a title="8tracks" aria-label="8tracks" href="{{ site.8tracks_link }}"><span class="link-name">8tracks</span></a></li>{% endif %}
<li><a title="ESStudio" aria-label="ESStudio" href="https://esstudio.site"><span class="link-name">ESStudio</span></a></li>
</ul>
